.dark{
   color:white;
   background-color: rgb(32, 32, 32);
}
.light{
    background-color: white;
    color:black;
}
.sale{
    /* position: absolute; */
    /* left:0; */
    /* top:10px; */
    padding: 5px;
    border-radius: 3px; 
}
.sale:hover Button{
    font-size: 18px;
    
}
.cartItem{
    position: relative;
    /* background-color: red; */
    padding:10px;
}
.cartItem:after{
    content:attr(value);
    position: absolute;
    top:-15px;
    right: 0px;
    background-color: rgb(226, 198, 128);
    font-size: 15px;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}