.App{
    font-family: sans-serif;
    text-align: center;
    padding:0;
    margin:auto;
    box-sizing: border-box;
    background-color: #faf5f5;
    position: absolute;
    height: 100vh;
    left: 30px;
    right: 30px;
}